html {
  background-color: #F8F3D9;
}

#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#app-name {
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

#input-section {
  width: 410px;
}

#input, #due_date, #add-todo {
  height: 19px;
  margin: 0px 5px
}

#add-todo {
  height: 24px
}

#sort-section {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 350px;
}

#date, #name, #done, #undone {
  height: 24px;
  margin: 0px 5px;
}

#sort-header {
  position: relative;
  bottom: 3px
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  border-radius: 5px;
  width: 400px;
  height: 500px;
  border: 1px solid black;
  background-color: #EBE5C2;

}

.example {
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 5px;
  padding-left: 5px;
  
  height: 40px;
  background-color: #B9B28A;
}

#todo-list {
  padding-left: 5px;
  width: 90%;
}