#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#input-section {
  width: 400px;
}

#input, #due_date, #add-todo {
  height: 19px;
  margin: 0px 5px
}

#add-todo {
  height: 24px
}

#sort-section {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 350px;
}

#date, #name, #done, #undone {
  height: 24px;
  margin: 0px 5px;
}

#sort-header {
  position: relative;
  bottom: 3px
}

#container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  border: 1px solid black;

}